/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    width: 100px;
    /* Adjust the width as needed */
    height: auto;
    /* This ensures the aspect ratio is maintained */
}

.myavatar {
    width: 100px;
    /* Adjust the width as needed */
    height: 100px;
    /* Adjust the height as needed to maintain aspect ratio */
    border-radius: 50%;
    /* This creates a round shape */
    border: 2px solid #ffc107;
    /* Add a border around the image with a food-inspired color */
    object-fit: cover;
    /* This ensures the image fills the space while maintaining aspect ratio */
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ff5722;
    /* Orange color reminiscent of fresh fruits and vegetables */
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

.top-section {
    text-align: center;
    padding: 50px;
    background-color: #ffee58;
    /* Yellow color representing warmth and happiness associated with food */
}

.card-section {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: green;
}

.card {
    padding: 20px;
    border: 1px solid #ccc;
}

.quote-section {
    text-align: center;
    padding: 50px;
    background-color: #ffeb3b;
    /* Bright yellow color symbolizing energy and creativity */
}

.bottom-signup {
    text-align: center;
    padding: 50px;
    background-color: lightgreen;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ff9800;
    /* Orange color reminiscent of fresh fruits and vegetables */
}

/* Add this CSS to your existing stylesheet */
.tomato-cursor {
    cursor: pointer;
    /* Fallback cursor if custom cursor is not supported */
}

.tomato-cursor:hover {
    cursor: url('./images/tomato.png'), auto;
    /* Custom cursor on hover */
}